


*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


.sbg, .lbg
{
    
    background: #0da3e3ec;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*------ LOGIN -----------*/

.login-box
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 70%;
    padding: 10px;
    text-align: center;
    
}

.login-box form, .signin-box form
{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.login-box form input, .login-box form button
{
    outline: none;
    border: none;
    border-radius: 15px;
    width: 40%;
    padding: 10px;
    margin-bottom: 25px;
}

.login-box form button, .signin-box form button
{
    background: #333333;
    color: rgb(228, 240, 64);
    
}

.login-box form button:hover, .signin-box form button:hover
{
    background: rgb(228, 240, 64);
    color: #333333;  
}

.login-box p a, .signin-box p a 
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
}

.login-box p a:hover, .signin-box p a:hover  
{
    
    color: white;
    transform: translate3d();
}

/*------ LOGIN END -----------*/

/*------ SIGNIN -----------*/

.signin-box
{
    padding: 55px;
    color: white;
}

.signin-box .container, .row
{
    text-align: center;
    
}

.signin-box form input, .signin-box textarea
{
    outline: none;
    border: none;
    border-radius: 15px;
    width: 80%;
    padding: 10px;
    margin-bottom: 25px;
}

.signin-box form button
{
    width: 30%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*------ SIGNIN END -----------*/
